# Maven target directory
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Log files
*.log
logs/

# IDE files and settings
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
.metadata/
.factorypath
bin/
out/
.vscode/
.DS_Store

# Crash logs and other OS temp files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Environment variables files (local config)
.env
.env.local
.env.*.local
application-local.properties
